body{
    background-color:  wheat;
    max-height: 500px;
}
nav > a{
 color: black;
    margin: 50px;
    padding: 10px;
    text-decoration: none;
}


nav a:hover{
    background-color: black;
    color: white;
    
}
header{
    background-color: white;
    padding: 15px;
}
.fondo img{ 
    width: 40%; /* Tamaño adaptativo */
    aspect-ratio: 1 / 1; /* Aspecto cuadrado */
    margin-left: 50%;
    margin-top: -15%;
    object-position: center; /* Centra la imagen en el recorte */
    display: block;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.35);

}
h1 {
    font-size: 60px;
}
p{
    font-size: 15px;
    font-weight: 600;
    padding: 30px;
    margin: 15px;
    width: 40%;
    margin-bottom: auto;
    padding-bottom: auto;
    
}

footer{
        display:flex;
        text-align: center;
        justify-content: center;
        margin-top: 7px;
        gap: 40px;
        padding: 20px 0;
        border-top: 1px solid rgb(29, 29, 29);
        border-bottom: 1px solid rgb(29, 29, 29);
        background-color: white;
}
footer a:hover{
background-color: black;
color: white;
}
.cc{
    width: 100px;
    
}
.facebook img{
   width: 40%;
}
.twiter img{
    width:40%;
}