/* Reset suave */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: wheat;
}

/* Navegación */
nav {
  background: #111;
  padding: 15px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav li {
  color: white;
  cursor: pointer;
}

/* Hero */
#hero {
  padding: 80px 20px;
  text-align: center;
  background: #f2f2f2;
}

#hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

#hero p {
  font-size: 1.2rem;
  color: #555;
}

#hero a {
  display: inline-block;
  margin